header.header
  div
    div
      div
        strong 12
      div
    a(href='/my-account.html', title='Link to Account page') My Account
    form(method='POST', action='/search', autocomplete)
      label(for='search') Search Website
      input#search(type='search', placeholder="Enter search terms", name='search')
      button(type='submit') Search

  div
    h1 Page title
    nav
      ul
        li
          a(href="/home", title='Link to home page') Home
        li
          a(href="/events", title='Link to upcoming events') Events
        li
          a(href="/accessories", title='Link to accessories you can buy') Accessories
        li
          a(href="/apparel", title='Link to Apparel you can buy') Apparel
        li
          a(href="/featured", title='Link to the list of featured items curated by the Editor') Featured Items

    div
      label(for='mobile_navigation') Mobile Navigation
      select#mobile_navigation
        option Home
        option Events
        option Accessories
        option Apparel
        option Featured Items
