header.header
  .sub-header
    .cart
      .cart__count
        strong 12
      .cart__icon
      .clearfix
    a.link.sub-header__link(href='/my-account.html', title='Link to Account page') My Account
    form.sub-header__search(method='POST', action='/search', autocomplete)
      label.label(for='search') Search Website
      input#search.search__input(type='search', placeholder="Enter search terms", name='search')
      button.search__button(type='submit')
    .clearfix

  .navigation-wrapper
    h1.page-title Page title
    nav.navigation
      ul.navigation__menu
        li.navigation__item
          a.navigation__link(href="/home", title='Link to home page') Home
        li.navigation__item
          a.navigation__link(href="/events", title='Link to upcoming events') Events
        li.navigation__item
          a.navigation__link(href="/accessories", title='Link to accessories you can buy') Accessories
        li.navigation__item
          a.navigation__link(href="/apparel", title='Link to Apparel you can buy') Apparel
        li.navigation__item
          a.navigation__link(href="/featured", title='Link to the list of featured items curated by the Editor') Featured Items

    .mobile-navigation
      label.label(for='mobile_navigation') Mobile Navigation
      select.select#mobile_navigation
        option Home
        option Events
        option Accessories
        option Apparel
        option Featured Items
    .clearfix